html{
 

    background-image: url(IMG_1441.JPG);
     position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    font-family: "Special Elite", monospace;
    animation: slideIn 1s ;
    transition: background 1s ease-in-out;
}
.box{
  max-width: 600px;
  width: 90%;
  margin: 1% auto 0 auto;
  background-color: white;
  box-sizing: border-box;
  border-radius: 45px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  height: 100vh;           
}
form{
    animation: fadeIn .8s ease-in-out;
}
.FormHead{
height: 20vh; 
  display: flex;
  align-items: center;  
  justify-content: center;   
}

.FormHead img{
 max-height: 220%;
  width: 70%;   
  
}
.InvoiceDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(88, 180, 88);
    font-size: 1.2em;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
}



.UserID{
   color:black;
    padding-top: 3%;
    
    padding-left: 5%;
    font-size: 1.1em;
}

.UserAddress{
    margin-top: 1%;
    color: black;


    padding-left: 5%;
    font-size: 1.1em; 
    
}

.OrderDesc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2em;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 1%;
    
}



.quantity input{
    display: flex;
    flex-direction: column;
   width: 60%;
   height: 2em;
    border-style: solid;
}


.desc input{
    display: flex;
    flex-direction: column;
   width: 70%;
   height: 2em;
    border-style: solid;
}

.Total input{
    
    display: flex;
    flex-direction: column;
   width: 50%;
   height: 2em;
    border-style: solid;
}

@keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes slideIn {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .box input{
        border-style: none;
      }