html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body{
    background-size: auto;
    min-height: 100%;
  margin: 0;
  padding: 0;
}

.box{
    display: flex;
    display: block;
    flex-direction: row;
   

    margin-top: 10%;
    margin-right: 20%;
    margin-left: 25%;
    margin-bottom:10%;

    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-top: 2%;

    border-radius: 40px;
    backdrop-filter: blur(5px);
    
    outline: auto;
    background: transparent;
    box-shadow:0 0 10px rgba(65, 19, 134, 0.499);
    color: white;
}

.box h1{
    font-size: 2em;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 20px 0;
    height: 2em;
}

.inputbox input{
padding-left: 2%;
height: 100%;
width: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(27, 158, 46, 0.499);
border-radius: 40px;
color: white;
}

.inputbox input::placeholder{
    color: white;
}

.inputbox i{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
 
}

.inputbox:hover{
    color: grey;
    opacity: 0.7s;
}

.remember-forgot{
display: flex;
justify-content: space-between;
margin: 15px 0 15px;
color: white;
}

.remember-forgot a{
color: white;
text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}
 .loginbutton{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 50px;
    cursor:pointer;
    
 
}

.loginbutton:hover{
    background-color: rgb(150, 145, 145);
    opacity: 0.7;
}

.register-link {
    margin-top: 20px;
    text-align: center;
    
}
.register-link p a{
    color: white;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}
