.FormHead h1{
    text-align: center;
}

.box{
    display: flex;
    display: block;
    flex-direction: row;
   

    margin-top: 10%;
    margin-right: 20%;
    margin-left: 25%;
    margin-bottom:10%;

    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-top: 2%;

    border-radius: 40px;
    backdrop-filter: blur(10px);
    
    outline: auto;
    background: transparent;
    box-shadow:0 0 10px rgba(65, 19, 134, 0.499);
    color: white;
}

.inputbox{
    position: relative;
    height: 200%;
}
.inputbox input{
padding-left: 1%;
height: 100%;
width: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid rgba(27, 158, 46, 0.499);
border-radius: 40px;
color: white;
}

.Terms{
display: flex;
flex-direction: row;
color: white;
}

.CreateAccount{

    width: 100%;
    height: 45px;
    border-radius: 50px;
    cursor: pointer ;
}

.CreateAccount:hover{
    color: grey;
    opacity: .7;
}